<ion-view view-title="Notification">
  <ion-content class="list_page notificat_list">
    <ion-list>
        <ion-item ng-repeat="item in notification"  class="list_item">
          <div class="row">
            <div class="col col-25">
               <img src="{{item.img}}"/>
            </div>
            <div class="col col-75" ng-click="play_sound(1);scrollTop()">
               <h3>{{item.title}}<span class="time">{{item.time}}</span></h3> 
               <p ng-if="item.status==1" class="litle_parag"><i class="ion-android-person"></i>Started Following You</p>
               <p ng-if="item.status==2"  class="litle_parag"><i class="ion-ios-heart"></i>Liked. When I Need Something</p>
            </div>
        </div>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
