<ion-view view-title="Record">
  <ion-content class="list_page record_page">
        <h3>
         09:45
        </h3>
        <img src="img/voice2.png"/>
        
        <button class="button button-icon record_btn">
          <i class="ion-android-microphone"></i>
        </button>
         
        <p>Tap To Resume Recording</p>
       
          <div class="row two_btn">
              <div class="col">
                <a  href="#"  class="button button-block main_btn">
                  Delete
                </a>
              </div>
              <div class="col">
                <a href="#" class="button button-block">
                  Upload
                </a>
              </div>
          </div>
            
  </ion-content>
</ion-view>
