  <ion-content class="login_page register_page">
    <form class="app_form">
     <div class="logo">
        <img  src="img/logo.png"/>
        <p>Create new account and enjoy</p>
      </div>

        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-android-person placeholder-icon"></i>
                <input type="text" placeholder="Username">
            </label>
            <label class="item item-input">
                <i class="icon ion-ios-locked placeholder-icon"></i>
                <input type="password" placeholder="Password">
            </label>
            <label class="item item-input">
                <i class="icon ion-ios-locked placeholder-icon"></i>
                <input type="password" placeholder="Confirm password">
            </label>
              <label class="item item-input">
                <i class="icon ion-email placeholder-icon"></i>
                <input type="email" placeholder="E-mail">
            </label>
            <label class="item item-input">
                <i class="icon ion-ipad placeholder-icon"></i>
                <input type="tel" placeholder="Mobile">
            </label>
            <label class="item item-input item-select sel_item">
                <select>
                    <option>Country</option>
                    <option>USA</option>
                    <option>Landon</option>
                </select>
            </label>
    
            <div class="row two_btn">
              <div class="col">
                <a  href="#/app/home"  class="button button-block main_btn">
                  Sign up
                </a>
              </div>
              <div class="col">
                <a href="#/login" class="button button-block">
                  Back
                </a>
              </div>
            </div>
         
        </div>
    </form>
  </ion-content>
